@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$primary-color: #850000;
$secondary-color: #E85555;
$success-color: #006B00;
$error-color: #6B003D;
// $link-color: color("light-blue", "darken-1") !default;
