{% extends 'layout.html' %}

{% block page_content %}
<p>A page content</p>
<p>

<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>



<a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
        
</p>

<div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Card Title</span>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>

  <ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Test 1</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab col s3"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam ea voluptates earum unde harum architecto sunt possimus amet dolor quas laborum, rem quis voluptatibus distinctio natus adipisci minima minus officia?</p>


{% endblock %}
